# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

# Package distribution
*.tgz
*.zip

# Temporary files
tmp/
temp/
